<%- include("partials/headernoshake"); -%>

<body>
    <div id="page">
        <img src="https://cdn.pixabay.com/photo/2016/03/31/23/57/cursor-1297941__340.png" alt="mouse" class="cursor">
        <p class="cursortext">-Click anywhere to add a dot</p>
        <center>
            <br><br><br><br><br>
            <h1 style="font-size: 70px; font-family: Arial, Helvetica, sans-serif; border: 1px solid black; border-radius: 20px; width: 200px; padding: 20px;">Hello</h1>
            <br>
            <a href="/shakeblock">Block shaking</a>
        </center>
    </div>
<script src="js.js"></script>

<%- include("partials/footer"); -%>